* {
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 20px;
    background: #333333;
}
li {
    display: inline-block;
    padding: 20px 20px;
    max-width: 100%;
    height: auto;
    position: relative;
}
a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.inner {
    position: absolute;
    top: calc(100% + 10px);
    background: #009dfe;
    transform: scaleY(0);
    transition: all ease-in-out 0.3s;
    transform-origin: 0 -20%;
    width: 250px;
}
.inner li {
    padding-right: 100px;
}
.inner li:before {
    width: 20px;
    height: 20px;
    display: inline-block;
    content: '+';
    position: absolute;
    top: 20px;
    right: 0;
    color: white;
    font-size: 20px;
}
li:hover > .inner {
    transform: scaleY(1);
}
.item {
    position: absolute;
    top: calc(100% + 10px);
    background: #009dfe;
    transform: scaleY(0);
    transition: all ease-in-out 0.3s;
    transform-origin: 0 -20%;
    width: 250px;
    margin-right: 50px;
}
li:hover > .item {
    transform: scaleY(1);
}
.item li:before {
    width: 20px;
    height: 20px;
    display: inline-block;
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    color: white;
    font-size: 20px;
}
